@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.conteiner {
  padding-bottom: 94px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-bottom: 94px; */
  width: 1200px;
}

.bord {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  /* border-bottom: 1px solid #ececec; */
}

.logo {
  color: #2196f3;
}

.logo-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 84px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

.li-psevdo {
  position: relative;
}

.psevdo::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  /* opacity: 0; */
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.psevdo:hover::after {
  /* opacity: 1; */
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: 84px; */
}

.site-nav .item {
  margin-right: 50px;
  /* background-color: tomato; */
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.auth-nav .link:hover {
  color: #2196f3;
}

.icon-envelope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  /* max-height: 20px; */
}

.icon-envelope:hover {
  --color4: #2196f3;
}

.svg-envelope {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* max-height: 25px; */
}

.icon-vector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  /* max-height: 20px; */
}

.icon-vector:hover {
  --color4: #2196f3;
}

.svg-vector {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* max-height: 25px; */
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/Header_img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/Header_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-block {
  text-align: center;
  padding-top: 200px;
  /* padding: 200px 458px; */
}

.hero {
  /* border-top: 1px solid #ececec; */
  /* background-color: #cccccc; */
  text-align: center;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.hero-btn {
  border: none;
  border-radius: 4px;
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

.exp-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exp-list .item {
  margin-right: 30px;
}

.exp-list .item:last-child {
  margin-right: 0;
}

.experience-image {
  position: relative;
}

.image-block {
  display: block;
}

.experience-thumb {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 27px 82px;
  /* outline: 2px solid tomato; */
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.experience-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: var(--white); */
  color: #ffffff;
  text-align: center;
}

/* наша команда */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-com {
  background: #f5f4fa;
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.com-mar {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 30px;
}

.com-mar:last-child {
  margin-right: 0;
}

.image-com {
  margin-bottom: 30px;
}

.command-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.command-text {
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_item {
  margin-right: 10px;
}

.social_item:last-child {
  margin-right: 0;
}

.button-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}

.button-icon:hover {
  background-color: #2196f3;
  --color3: #ffffff;
}

.svg-icon {
  --color1: #afb1b8;
}

.feature-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-feature {
  margin-bottom: 30px;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-list .item {
  width: 251px;
  margin-right: 30px;
}

.section {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.section-title {
  margin-top: 0;
  margin-bottom: 10;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.button {
  display: inline-block;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
}

.margin-res {
  border-top: 1px solid #ececec;
}

.advantage {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.exp-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exp-list .item {
  margin-right: 30px;
}

.exp-list .item:last-child {
  margin-right: 0;
}

.experience-image {
  position: relative;
}

.image-block {
  display: block;
}

.experience-thumb {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 27px 82px;
  /* outline: 2px solid tomato; */
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.experience-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: var(--white); */
  color: #ffffff;
  text-align: center;
}

/* наша команда */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-com {
  background: #f5f4fa;
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.com-mar {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 30px;
}

.com-mar:last-child {
  margin-right: 0;
}

.image-com {
  margin-bottom: 30px;
}

.command-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.command-text {
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_item {
  margin-right: 10px;
}

.social_item:last-child {
  margin-right: 0;
}

.button-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}

.button-icon:hover {
  background-color: #2196f3;
  --color3: #ffffff;
}

.svg-icon {
  --color1: #afb1b8;
}

.studio {
  color: #ffffff;
}

.footer {
  padding-top: 48px;
  padding-bottom: 28px;
  background-color: #2f303a;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-sub {
  margin-top: 0;
  margin-bottom: 12px;
}

.s-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg-icon_footer {
  --color3: #ffffff;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-list:hover {
  background-color: #2196f3;
}

.footer-list:last-child {
  margin-right: 0px;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.footer-text {
  display: inline-block;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.sub-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-input {
  /* display: inline-flex; */
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: #2f303a;
  color: #ffffff;
}

.footer-btn {
  /* display: inline-flex; */
  padding: 0;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

.footer-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../image/iconsend.svg);
  -webkit-transform: translateY(5px) scale(1);
          transform: translateY(5px) scale(1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: violet; */
}

.footer-btn:hover::after {
  -webkit-transform: translateY(-45px) translateX(30px) scale(0.01);
          transform: translateY(-45px) translateX(30px) scale(0.01);
}

.copyright {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* padding-top: 18px;
  padding-bottom: 18px; */
  width: 1200px;
  background-color: #2f303a;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.low {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.client-list {
  /* outline: 2px solid tomato; */
  margin-right: 30px;
  list-style: none;
  padding: 0;
}

.client-list:last-child {
  margin-right: 0px;
}

.client-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 170px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-card:hover {
  border: 1px solid #2196f3;
  --color3: #2196f3;
}

.port-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.port-flex .item {
  margin-right: 8px;
}

.port-flex .item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03;
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.work-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* background-color: teal; */
}

.work-flex .item {
  width: 370px;
  /* background-color: tomato; */
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-flex .item:nth-child(3n) {
  margin-right: 0;
}

.work-flex .item:nth-child(-n3) {
  margin-bottom: 0;
}

.link-port {
  display: block;
  text-decoration: none;
  border-top-left-radius: 1px;
  border-top-left-radius: 1px;
  /* overflow: hidden; */
  /* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12); */
}

.link-port:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-box {
  /* text-decoration: none; */
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.card-image {
  display: block;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  /* background-color: grey; */
  color: #757575;
}

.portfolio-descriprion {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-port:hover .portfolio-descriprion {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.button-pf {
  color: #212121;
  background-color: #ffffff;
}

.button-pf:hover,
.button-pf:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  height: 581px;
  width: 528px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
}

.close-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  /* transform: translate(50%, -50%); */
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background-color: #ffffff;
}

.close-icon {
  fill: black;
}

.close-modal:hover > .close-icon {
  fill: #2196f3;
}

.form {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid tomato; */
}

.form-field {
  position: relative;
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
  /* outline: 1px solid rgb(37, 184, 37); */
  margin-bottom: 28px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  -webkit-transform: translateY(-45px) translateX(-23px);
          transform: translateY(-45px) translateX(-23px);
}

.form-input:focus > .icon-modal {
  fill: #2196f3;
}

.form-h1 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input {
  margin-top: 0;
  padding: 12px;
  padding-left: 42px;
}

.form-field input::-webkit-input-placeholder {
  color: #757575;
}

.form-field input:-ms-input-placeholder {
  color: #757575;
}

.form-field input::-ms-input-placeholder {
  color: #757575;
}

.form-field input::placeholder {
  color: #757575;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 19px;
  display: inline-block;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-field:focus-within > .icon-modal {
  fill: #2196f3;
}

.form-comment {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form-text {
  position: absolute;
  top: 12px;
  left: 16px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.form-comment:focus + .form-text,
.form-comment:not(:placeholder-shown) + .form-text {
  color: #2196f3;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* outline: 1px solid tomato; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  /* background-color: indigo; */
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
}

.checkbox-terms:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../image/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox-terms {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.policy-link {
  text-decoration: underline;
  color: #2196f3;
}

.policy {
  margin-bottom: 30px;
}

.policy-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.03em;
}

.button-send {
  position: relative;
}

.button-submit {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin: 0;
  padding: 10px 55px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: white;
  letter-spacing: 0.06em;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
/*# sourceMappingURL=main.css.map */