.studio {
  color: $white;
}

.footer {
  padding-top: 48px;
  padding-bottom: 28px;
  background-color: #2f303a;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.text-sub {
  margin-top: 0;
  margin-bottom: 12px;
}

.s-link {
  display: flex;
  width: 206px;
  height: 44px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.svg-icon_footer {
  --color3: #ffffff;
}

.footer-list {
  display: flex;
  margin-right: 10px;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-list:hover {
  background-color: $accent;
}

.footer-list:last-child {
  margin-right: 0px;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: $white;
}

.footer-text {
  display: inline-block;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
}

.sub-flex {
  display: flex;
}

.footer-input {
  /* display: inline-flex; */
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: #2f303a;
  color: $white;
}

.footer-btn {
  /* display: inline-flex; */
  padding: 0;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $accent;
  color: $white;
}

.footer-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../image/iconsend.svg);

  transform: translateY(5px) scale(1);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  /* background-color: violet; */
}

.footer-btn:hover::after {
  transform: translateY(-45px) translateX(30px) scale(0.01);
}

.copyright {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* padding-top: 18px;
  padding-bottom: 18px; */
  width: 1200px;
  background-color: #2f303a;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.low {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
